## Homework 03 Solution
** CSC 19900 - Introduction to Data Science**

** Due Friday, Sept. 15**

### Part 1

The following list contains the names of the universities who were original members of the athletic conference now known as the Big Ten, formed in 1896.

In [1]:
Big10 = ["Illinois", "Minnesota", "Northwestern", "Purdue", "Wisconsin", "Michigan", "Chicago"]

**Indiana** and **Iowa** joined the conference in 1899. Add these to the end of the list. Print `Big10`.

In [2]:
Big10.append("Indiana")
Big10.append("Iowa")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Michigan', 'Chicago', 'Indiana', 'Iowa']

**Michigan** left the conference in 1907. Remove it from the list. Print `Big10`.

In [3]:
Big10.remove("Michigan")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Chicago', 'Indiana', 'Iowa']

**Ohio State** joined in 1912. Add it to the end of the list. Print `Big10`.

In [4]:
Big10.append("Ohio State")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Chicago', 'Indiana', 'Iowa', 'Ohio State']

**Michigan** returned to the conference in 1817. Add it back to the list in its original position. Print `Big10`.

In [5]:
Big10.insert(5, "Michigan")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Michigan', 'Chicago', 'Indiana', 'Iowa', 'Ohio State']

**Chicago** left in 1946. Remove it from the list. Print `Big10`.

In [6]:
Big10.remove("Chicago")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Michigan', 'Indiana', 'Iowa', 'Ohio State']

Since 1950, **Michigan State**, **Penn State**, **Nebraska**, **Maryland**, and **Rutgers** have all joined the conference. Add them to the end of the list in that order. Print `Big10`.

In [7]:
Big10.append("Michigan State")
Big10.append("Penn State")
Big10.append("Nebraska")
Big10.append("Maryland")
Big10.append("Rutgers")
print(Big10)

['Illinois', 'Minnesota', 'Northwestern', 'Purdue', 'Wisconsin', 'Michigan', 'Indiana', 'Iowa', 'Ohio State', 'Michigan State', 'Penn State', 'Nebraska', 'Maryland', 'Rutgers']

### Part 2

In the cell below, create a variable called `seed` that is equal to the last three digits of your student ID number. Omit any leading zeros.

In [4]:
seed = 942

The code in the cell below creates a random list of integers called `myList`. The length of `myList` is a randomly generated even number. Run this cell as is.

In [5]:
import numpy as np
np.random.seed(seed)
my_list = list(np.random.choice(1000, 2*np.random.randint(150,250), replace=False))

Print the smallest and largest elements of `my_list`.

In [6]:
print(min(my_list))
print(max(my_list))

2
995

Create a list called `sorted_list` that contains the values of `my_list` in increasing order. Do not alter `my_list`. **Do not print this list.**

In [7]:
sorted_list = sorted(my_list)

Store the size of the list `my_list` in the variable `n`. **Do not print this variable.**

In [8]:
n = len(my_list)
print(n)

332

Create two new equally sized lists:
* `small_list` should contain the smallest `n/2` elements of `my_list`. 
* `big_list` should contain the largest `n/2` elements of `my_list`. 

**Do not print these lists.**

In [12]:
small_list = sorted_list[:int(n/2)]
big_list = sorted_list[int(n/2):]  
print(len(small_list))

166

Print the smallest and largest elements of `small_list`.

In [20]:
print(min(small_list))
print(max(small_list))

2
483

Print the smallest and largest elements of `big_list`.

In [15]:
print(min(big_list))
print(max(big_list))

488
995

Print the following:
1. The total of the elements in `my_list`.
2. The total of the elements in `small_list`.
3. The total of the elements in `big_list`.

In [16]:
print(sum(my_list))
print(sum(small_list))
print(sum(big_list))

162606
39851
122755

Using a single line of code, print the total of the elements in `my_list`, excluding the first 50 and the last 35 elements.

In [17]:
print(sum(my_list[50:-35]))

120135