## Homework 06
** CSC 19900 - Introduction to Data Science**

** Due Monday, Oct. 16**

### Part 1: Distance Function

Write a function called `distance()` that takes two parameters, `P` and `Q`, which are intended to represent points. The function should return the distance between the points `P` and `Q`. 

For example, `distance((1,6),(4,10))` should return `5.0`.

In the cell below, there is code defining a point `P`, and a list of points `pts`. All points are stored as tuples (rather than lists). 

Add code that will print the following message for each point Q in pts, with the bracketed expressions replaced with the appropriate values. 

    The distance from [P] to [Q] is [distance, rounded to 4 decimal places].

In [3]:
P = (3, -5)
pts = [(4,9), (-4,7), (2,1), (6,-4), (8,-3) ]

The distance from (3, -5) to (4, 9) is 14.0357.
The distance from (3, -5) to (-4, 7) is 13.8924.
The distance from (3, -5) to (2, 1) is 6.0828.
The distance from (3, -5) to (6, -4) is 3.1623.
The distance from (3, -5) to (8, -3) is 5.3852.

### Part 2: Minimum Distance

The cell below defines two lists: `ptsA` and `ptsB`. Given any point in `ptsA` and any point in `ptsB`, we can find the distance between the two points using the `distance()` function defined above.

Add code to the cell below that will find two points `A` and `B` such that the following criteria are true:

* `A` is chosen from `ptsA` and `B` is chosen from `ptsB`. 
* The distance between `A` and `B` is less than that of any other two points selected from the two lists. 

When you have found the two points, print the following message:

    The two nearest points are [A] and [B]. The distance between them is [distance, rounded to 4 decimal places].

In [10]:
ptsA = [(-5, 14), (-12, 11), (2, -9), (-2, 1), (-9, 11), (-13, 8)]
ptsB = [(8, 11), (17, -17), (19, -15), (-17, 4), (18, -16), (-16, -14), (19, 11), (18, -1)]

curA = ptsA[0]
curB = ptsB[0]
curMin = distance(curA, curB)

The two nearest points are (-13, 8) and (-17, 4). The distance between them is 5.6569.

### Part 3: Hailstone Sequences

Let `n` be a positive integer. The **Hailstone Sequence** starting with `n` is a sequence of numbers calculated as follows:

* Assume that `x` is a term in the sequence. 
* If `x` is even, then the next term of the sequence is `x/2`.
* If `x` is odd, then the next term of the sequence is `3*x + 1`. 
* The seqence ends if it hits a term that is equal to 1. 

For example:
* The Hailstone Sequence that begins with 5 is given by: `5, 16, 8, 4, 2, 1`.
* The Hailstone Sequence that begins with 6 is given by: `6, 3, 10, 5, 16, 8, 4, 2, 1`.

Write a function called `Hailstone()` that takes a single parameter, `n`. The function should return a list that contains the Hailstone Sequence that begins with `n`.

For example, the code `Hailstone(5)` should return the list `[5, 16, 8, 4, 2, 1]`.

Use a loop to print out the Hailstone sequences for each of the integers 1 - 20.

[1]
[2, 1]
[3, 10, 5, 16, 8, 4, 2, 1]
[4, 2, 1]
[5, 16, 8, 4, 2, 1]
[6, 3, 10, 5, 16, 8, 4, 2, 1]
[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[8, 4, 2, 1]
[9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[10, 5, 16, 8, 4, 2, 1]
[11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
[13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[20, 10, 5, 16, 8, 4, 2, 1]

### Part 4: Factorial Function

Write a function `fact()` that takes a single parameter `n` and returns the value of `n` factorial.

Use your function to calculate 8 factorial.

40320

### Part 5: Calculating exp(x)

Write a function called `exp()` that takes a single parameter `x` and returns the following value:

$1 + \frac{x^1}{1!} + \frac{x^2}{2!} + \frac{x^3}{3!} + \frac{x^4}{4!} + ... + \frac{x^k}{k!}$

The last term $\frac{x^k}{k!}$ in the sum should be the first term encounters that is less than 1/10,000 = 0.0001. 

You may (and should) use the `fact()` function that you created above.

Write a loop that prints the following sentence for each positive number `n` from 0 - 20, with the bracketed expressions replaced as appropriate:
    
    exp([n]) = [exp(n), rounded to 3 decimal places]
    
For example, one of your lines should read exactly as follows:

    exp(4) = 54.598

exp(0) = 1
exp(1) = 2.718
exp(2) = 7.389
exp(3) = 20.085
exp(4) = 54.598
exp(5) = 148.413
exp(6) = 403.429
exp(7) = 1096.633
exp(8) = 2980.958
exp(9) = 8103.084
exp(10) = 22026.466
exp(11) = 59874.142
exp(12) = 162754.791
exp(13) = 442413.392
exp(14) = 1202604.284
exp(15) = 3269017.372
exp(16) = 8886110.52
exp(17) = 24154952.754
exp(18) = 65659969.137
exp(19) = 178482300.963
exp(20) = 485165195.41